*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
}

body{
  width: 100%;
  height: 100%;
  font-size: 1.6rem;
  font-family: sans-serif;
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50% , -50%);
  padding: 3%;
} 
input{
  border: none;
  border-radius: 99px;
  background-color: dodgerblue;
  height: 60px;
  margin-bottom: 15px;
  color: white;
  font-weight: bold;
  font-size: 100%;
  transition: ease-in-out .2s;
  padding-left: 2%;
  padding-right: 2%;
}
input:hover{
  background-color: skyblue;
  transition: ease-in-out .2s;
}
input:focus{
  background-color: red;
}
div{
  width: 15%;
  text-align: center;
  font-size: 180%;
}